table {
    border-collapse: collapse;
    text-align: center;
}
th, td {
    border: 2px solid rgb(20, 20, 75);
    padding: 5px;
}
th {
    background-color: lightgreen;
}
caption{
    font-family: choco;
    font-size: 25px;
    padding-bottom: 5px;
}
@font-face {
    font-family: "choco";
    src: url(Choco-Shake.otf);
}
